<h1>SMS Log</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Message</th>
      <th>Shipping Date</th>
      <th>Number</th>
      <th>Status</th>
      <th>Log</th>
      <th>Response</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.id %></td>
        <td><%= message.text %></td>
        <td><%= message.date.strftime("%d/%m/%Y %H:%M")%></td>
        <td><%= message.phone %></td>
        <td><%= message.status %></td>
        <td><%= message.log %></td>
        <td> 
          <ul>
            <% message.responses.each do |response| %>
              <li>
                <%= response.text%>
              </li>  
            <% end %>
          </ul>
        </td>
        <td>
          <%#-if message.status == "fail"%>
            <%#= link_to "Resend", sms.resend_message_path(message), method: :post, remote: true %>
            <%#= link_to "Cancel", sms.cancel_message_path(message), method: :post, remote: true %>
          <%# end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
